*
{
    margin: 0;
    padding: 0;

}

#root
{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: #1B2430;
    background-image: url("Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    /* opacity: 0.2; */
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Montserrat';
  }


  

  .form-container
  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }

  .my-btn
  {
    background-color: #51557E ;
    border-color: #51557E;
    margin-top: 0px ;
    margin-bottom: 0px;
    width: 300px;
  }

  .gametitle{
    color: white;
    margin-bottom: 20px;
    font-size: 3rem;
  }




/* ------------------------
LOGIN PAGE
------------------------ */

.login-container
{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;
}

.login-title
{
    color: white;
}

.failed-msg{
  color: red;
}

.login-form
{
    padding-top: 100px;
}

.top {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  

.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
.login-btn
{
    background-color: #51557E;
    border-color: #51557E;
}

/* ---------------
REGISTER PAGE
--------------- */

.middle{
    border-radius: 0;
    margin-bottom: 10px;
}

.register-form
{
    padding-top: 70px;
}
  


.container{
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 44px;
}

@media (min-width: 992px)
{
.container {
    max-width: 1060px;
}
}

@media (min-width: 1200px)
{
.container {
    max-width: 1340px;
}


}
.dot
{
  height: 55px;
  width: 55px;
  background-color: #51557E;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}


.navbarleft-container{
  display: inline-block;
  /* margin-top: 50px; */
  margin-right: 30px;
  width: 100px;
  /* height: 100%; */
  height: calc(100% - 30px);
  /* background-color: red; */
  text-align: left;
  padding-left: 0%;
  /* position: fixed; */
  /* position: absolute;
  left:10%; */
}

.navbarleft-btn{
  display:block;
  width: 80px;
  height: 80px;
  margin-left: 0;
  margin-bottom: 30px;
  background-color: #51557E;
  border-color: #51557E;
  outline-color: #51557E;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 26px;
}


.continue-btn{
  background-color: #51557E;
  border-color: #51557E;
  /* max-width: 300px; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}


.userimg{
  padding-top: 15px;
}


.wallet-button{
  position: relative;
  top: 10px;
}

.wallet-button-2{
  position: relative;
  top: 10px;
}

.details
{
  text-align: justify;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 10%;
  padding-top: 5%;
  color: #f5f5f5;
}

.App-logo
{
  padding-top: 10%;
}

.smaller-logo
{
  width: 25%;
  padding-top: 0%;
}